.pessoa {
    border: 1px solid #ccc;
    box-shadow: 0.1em 0.1em 2.2em;
    padding: 1em;
    border-radius: 5px;
    margin: 1em 0;
    gap: 0.8em;
    color: #333;
    display: grid;
    grid-template-areas:
    "nome_completo"
    "setor"
    "dados_funcionario"
    "dependentes"
    "salario_total";

    .nome_completo {
        grid-area: nome_completo;
        font-size: 1.6em;
        font-weight: 700;
    }

    .setor {
        grid-area: setor;
        font-size: 1.1em;
        font-style: italic;
    }

    .dados_funcionario {
        grid-area: dados_funcionario;
        display: flex;
        justify-content: space-between;
        font-size: 0.9em;
    }

    .dependentes {
        grid-area: dependentes;
        margin: 0.5em 0;
        padding: 1em;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 0.5em;
    }

    .dependente {
        border: 1px solid #aaa;
        padding: 0.5em;
        border-radius: 4px;
        font-size: 0.9em;
        background: #f9f9f9;
    }

    .salario_total {
        grid-area: salario_total;
        font-size: 1.2em;
        font-weight: 700;
        text-align: center;
    }
}